@using Microsoft.AspNetCore.Authentication
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookManagementSystem_BMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookManagementSystem_BMS.styles.css" asp-append-version="true" />
</head>
<body id="mainContainer">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex">
                <a class="navbar-brand " style="margin-left: 40%;" asp-area="" asp-controller="Book" asp-action="Index">Book Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                           
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a id="logoutButton" class="btn btn-primary" onclick="logOut()">
                                    Logout
                                </a>
                            }
                            else{
                                <button id="loginButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                                Login
                            </button>
                            }
                            
                        </li>
                    </ul>
                </div>
                
            </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        @Html.Partial("Login/_LoginModal")
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BookManagementSystem_BMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src=@("https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js")></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function (){
            var url = window.location.href;
            console.log(url);
            if (url === "https://localhost:7030/User/LoginPage" || url === "https://localhost:7030/User/SignupPage") {
                $('#loginButton').hide();

            }
        });
        $(function () {
            function logOut(){
                $.ajax({
                    url: '@Url.Action("Signup", "User")',
                    type: 'POST',
                    datatype: 'text',
                    data: { signupUsername: signupUsername, signupEmail: signupEmail, userRole: userRole, signupPassword: password, confirmPassword: confirmPassword },
                    success: function (result) {
                        console.log(result);
                        if (result == "loggedout") {
                            location.reload();
                        }
                    },
                    error: function (result) {
                        console.log(result)
                        alert(result);
                    }
                });
            }
            $('#loginButton').click(function () {
                var url = window.location.href;
                console.log(url);
                if (url !== "https://localhost:7030/"){
                    $('#loginModal').modal('show');
                }
                else{
                    window.location.href = "https://localhost:7030/User/LoginPage";
                }
            });
            //$('#closeModal').click(function () {
            //    $('#loginModal').modal('hide');
            //});
            // Show the sign-up form and hide the login form when clicking on the sign-up button
            $("#signupButton").click(function () {
                $("#loginForm").hide();
                $("#signupForm").show();
            });

            // Show the login form and hide the sign-up form when clicking on the login button
            $("#backButton").click(function () {
                $("#signupForm").hide();
                $("#loginForm").show();
            });
            //login submit form
            $("#loginSubmitBtn").click(function (event) {
                console.log("on submit");
                let username = $("#username").val();
                let password = $("#password").val();
                let rememberMe = $("#rememberMe").val();
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("Login", "User")',
                    type: 'GET',
                    datatype: 'text',
                    data: { username: username, password: password, strRemember: rememberMe },
                    success: function (result) {
                        console.log("logged in");
                        console.log(result);
                        //hide the modal and login button
                        //$('#loginButton').hide();
                        //$('#loginModal').hide();
                        //$('.modal-backdrop').hide();
                        

                        if (result == "success") {
                            //clear the form input fields
                            //$('#signupForm')[0].reset();
                            //$("#signupForm").children('input').val('')
                            $('#signupUsername').val('');
                            $('#emailAddress').val('');
                            $('#userRole').val('');
                            $('#signupPassword').val('');
                            $('#confirmPassword').val('');

                            //show the login form
                            $("#signupForm").hide();
                            $("#loginForm").show();
                            $.ajax({
                                url: '@Url.Action("Index", "Book")',
                                type: 'GET',
                                data: { loggedIn: "loggedin" },
                                success: function (result) {
                                    $("#mainContainer").html(result);
                                },
                                error: function () {
                                    alert("An error occurred while loading Index Page.");
                                }
                            });
                        }
                    },
                    error: function (result) {
                        console.log(result)
                        alert(result);
                    }
                });
            });
            //signup submit form
            $("#signupSubmitBtn").click(function (event) {
                event.preventDefault();
                console.log("on submit");
                let signupUsername = $("#signupUsername").val();
                let signupEmail = $("#signupEmail").val();
                let userRole = $("#roleId").val();
                var password = $("#signupPassword").val();
                var confirmPassword = $("#confirmPassword").val();
                var passwordPattern = /^((?=.*[a-z])(?=.*[A-Z])(?=.*\d)).+$/;

                // Check if passwords match
                if (!passwordPattern.test(password)) {
                    // Display an error message
                    //$("#passwordMismatchError").text("The passwords do not match.");
                    $("#passwordError").html("The Password must contain a small letter, a capital letter, a number and a special character");
                    return;
                }
                else if(password!==confirmPassword){
                    $("#passwordError").html("The confirm password does not match");
                }
                else{
                    //let signupPassword = $("#signupPassword").val();
                    //let confirmPassword = $("#confirmPassword").val();
                    $.ajax({
                        url: '@Url.Action("Signup", "User")',
                        type: 'POST',
                        datatype: 'text',
                        data: { signupUsername: signupUsername, signupEmail: signupEmail, userRole: userRole, signupPassword: password, confirmPassword: confirmPassword },
                        success: function (result) {
                            console.log("signed up");
                            console.log(result);
                            //$('#loginModal').hide();
                            //$('.modal-backdrop').remove();
                            //$('#loginModalBody').remove();
                            if (result == "success") {
                                $("#signupForm").hide();
                                $("#loginForm").show();
                                //$.ajax({
                                //    url: '@Url.Action("Index", "Book")',
                                //    type: 'GET',
                                //    success: function (result) {
                                //        $("#mainContainer").html(result);
                                //    },
                                //    error: function () {
                                //        alert("An error occurred while loading Index Page.");
                                //    }
                                //});
                            }
                        },
                        error: function (result) {
                            console.log(result)
                            alert(result);
                        }
                    });
                }
            });
            
        });
        
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
