@model BookManagementSystem_BMS.ViewModels.UserViewModel

<h2>Login</h2>

@using (Html.BeginForm("LoginPage", "User", FormMethod.Post))
{
    
    @Html.ValidationMessage("loginError", "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })*@
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RememberMe)
        @Html.CheckBoxFor(m => m.RememberMe)
        
    </div>

    <input type="submit" value="Login" class="btn btn-primary" />

    @Html.ActionLink("Signup", "SignupPage", "User", null, new { @class = "btn btn-primary" })
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
